
body {
  font-family: "Raleway", sans-serif;

}

/* settings for coming soon page */
.body_cover {
  background-image: url('coming_soon_d_jimenez.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.display_bottom_left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}

.caption {
  position: absolute;
  left: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  color: #000;
}

.animate-top{
    position:absolute;
    animation:animatetop 0.4s
  }
  @keyframes animatetop{
    from{top:40%;opacity:0} to{top:80%;opacity:1}
  }

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
