body {
    font-family: 'Nixie One';
}

/* container work in progess gif*/
.container_wip_picture  {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px; /* Half the height */
  margin-left: -250px; /* Half the width */
}

@media screen and (max-width: 600px) {
  .container_wip_picture img{
    display: block;
    padding-top: 45px;
    margin-left: 150px;
    margin-right: 10px;
    width: 50%;
    height: 50%;
  }
    .container_wip_picture h1 {
      margin-left:100px;
      font-size: 20px;
    }
  }
