{% extends "base.html" %}
{% load static %}
{% block content %}
<body>

  <!-- Navbar -->
  <div class="navbar" id="resp_navbar">
    <a href="javascript:void(0);" class="icon" onclick="openNav()">
      <i class="fa fa-bars icon-bar"></i>
    </a>
    <a class="nav_elt" onclick="respNavbar()" href="#contact">CONTACT</a>
    <a class="nav_elt" onclick="respNavbar()" href="#references">REFERENCES</a>
    <a class="nav_elt" onclick="respNavbar()" href="#studies">STUDIES</a>
    <a class="nav_elt" onclick="respNavbar()" href="#skills">SKILLS</a>
    <a class="nav_elt" onclick="respNavbar()" href="#projects">PROJECTS</a>
    <a class="nav_elt" onclick="respNavbar()" href="#expe">EXP</a>
    <a class="nav_elt" onclick="respNavbar()" href="#about">ABOUT</a>
    <a class="nav_elt nav_elt_left" href="#top" id="exit_menu">GB</a>
  </div>

  <div id="myNav" class="overlay">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <div class="overlay-content">
    <a onclick="closeNav()" href="#about">ABOUT</a>
    <a onclick="closeNav()" href="#expe">EXP</a>
    <a onclick="closeNav()" href="#projects">PROJECTS</a>
    <a onclick="closeNav()" href="#skills">SKILLS</a>
    <a onclick="closeNav()" href="#studies">STUDIES</a>
    <a onclick="closeNav()" href="#references">REFERENCES</a>
    <a onclick="closeNav()" href="#contact">CONTACT</a>
  </div>
</div>

  <!-- First page -->
  <div class="img_vitrine"  id="top">
    <span class="titre_principal">Geoffroy Blondel</span>
    <span class="sous_titre_principal">Freelance - Data Analyst</span>
  </div>

  <!-- About -->
  <div id="about" class="container_view">
    <h3 class="elt-center">ABOUT</h3>
    <img src="{% static 'photo_avatar.jpg' %}" alt="Avatar" class="about_avatar">
    <div class="about_text">
      <p>Présentation de jojo, j'aime bien faire des lettes de motive pour Alice, faire les course,
      faire des bons petits plats, regarder des films. Et plein d'autres choses comme voyager et programmer.</p>
    </div>

    <!-- Columns with domains of skills -->
    <div class="about_row">
      <div class="about_col">
        <i class="fas fa-database fa-4x fa-fw"></i>
        <h4>Data</h4>
        <p>Présentation de jojo, j'aime bien faire des lettes de motive pour Alice, faire les course, faire des bons petits plats, regarder des films. Et plein d'autres choses comme voyager et programmer.</p>
      </div>
      <div class="about_col">
        <i class="fab fa-python fa-4x fa-fw"></i>
        <h4>Programming</h4>
        <p>Présentation de jojo, j'aime bien faire des lettes de motive pour Alice, faire les course, faire des bons petits plats, regarder des films. Et plein d'autres choses comme voyager et programmer.</p>
      </div>
      <div class="about_col">
        <i class="fas fa-file-code fa-4x fa-fw"></i>
        <h4>Web developpement</h4>
        <p>Présentation de jojo, j'aime bien faire des lettes de motive pour Alice, faire les course, faire des bons petits plats, regarder des films. Et plein d'autres choses comme voyager et programmer.</p>
      </div>
    </div>
  </div>

  <!-- Experiences -->
  <div id="expe" class="container_view">
    <h3 class="elt-center">EXPERIENCES</h3>
    <div class="space_exp"></div>

    <button class="collapsible">
      <div class="bloc_exp">
        <h4>Data Analyst - Python Developper</h4>
        <h4>Home Delivery Services - Melbourne - Australie</h4>
      </div>
      <div class="collapse_icon">
        <i class="fas fa-plus"></i>
      </div>
    </button>
    <div class="content">
      <p>
        Exploitation des données brutes pour les différents services
        <br><i><b>Python Pandas</b></i>
      </p>
      <p>
        Développement des évolutions du logiciel interne de gestion des données
        <br><i><b>Python Pandas Git Bitbucket</b></i>
      </p>
      <p>
        Développement d'un serveur de monitoring
        <br><i><b>Python Matplotlib Linux AWS</b></i>
      </p>
    </div>

    <button class="collapsible add_color">
      <div class="bloc_exp">
        <h4>Data Analyst</h4>
        <h4>Comutitres - Paris - France</h4>
      </div>
      <div class="collapse_icon">
        <i class="fas fa-plus"></i>
      </div>
    </button>
    <div class="content">
      <p>Conception et optimisation de process et reporting - <b>SQL VBA Python</b></p>
      <p>Création de requêtes et investigation dans de grands volumes de données - <b>SQL, Python</b></p>
      <p>Scripting - <b>Python, SQL</b></p>
    </div>

    <button class="collapsible">
      <div class="bloc_exp">
        <h4>Front Office Support Analyst</h4>
        <h4>Axa IM - Greenwich - USA</h4>
      </div>
      <div class="collapse_icon">
        <i class="fas fa-plus"></i>
      </div>
    </button>
    <div class="content">
      <p>Exploitation des données brutes pour les différents services - <b>Python Pandas</b></p>
      <p>Développement des évolutions du logiciel interne de gestion des données - <b>Python Pandas Git Bitbucket</b></p>
      <p>Développement d'un serveur de monitoring - <b>Python Matplotlib Linux AWS</b></p>
    </div>

    <button class="collapsible add_color">
      <div class="bloc_exp">
        <h4>Extra Financial Analyst</h4>
        <h4>Amundi - Paris - France</h4>
      </div>
      <div class="collapse_icon">
        <i class="fas fa-plus"></i>
      </div>
    </button>
    <div class="content">
      <p>Exploitation des données brutes pour les différents services - <b>Python Pandas</b></p>
      <p>Développement des évolutions du logiciel interne de gestion des données - <b>Python Pandas Git Bitbucket</b></p>
      <p>Développement d'un serveur de monitoring - <b>Python Matplotlib Linux AWS</b></p>
    </div>

  </div>

  <!-- Projects -->
  <div id="projects" class="container_view">
    <h3 class="elt-center">PROJECTS</h3>
  </div>

  <!-- Skills -->
  <div id="skills" class="container_view">
    <h3 class="elt-center">SKILLS</h3>
  </div>

  <!-- Studies and formation  -->
  <div id="studies" class="container_view">
    <h3 class="elt-center">STUDIES</h3>
  </div>

  <!-- References -->
  <div id="references" class="container_view">
    <h3 class="elt-center">REFERENCES</h3>
  </div>

  <!-- Contact -->
  <div id="contact" class="container_view">
    <h3 class="elt-center">CONTACT</h3>
    <p><i class="fa fa-map-marker fa-2x fa-fw" aria-hidden="true"></i>Address  :  14 rue de Bizerte, 75017, Paris</p>
    <p><i class="fa fa-phone fa-2x fa-fw" aria-hidden="true"></i>Phone : +33 6 80 56 68 64</p>
    <p><i class="fa fa-envelope fa-2x fa-fw" aria-hidden="true"></i>Email  :  geoffroy.blondel@gmail.com</p>
    <p><i class="fab fa-linkedin-in fa-2x fa-fw"></i>Linkedin  :  <a href="https://www.linkedin.com/in/geoffroy-blondel-5416b893/">www.linkedin.com</a></p>

    <img src="{% static 'lars-greefhorst-xYB1xfCnpg0-unsplash.jpg' %}" class="contact_img">
  </div>

  <!-- Footer -->
  <footer>
     <button class="btn_footer" type="button" onclick="window.location.href = '#top';">
       <p><i class="fa fa-chevron-up pad-chev"></i>To the top</p>
     </button>
     <p><a href="https://github.com/blondelg/pro_app"><i class="fab fa-github fa-3x gh_icon"></i></a></p>
     <p>Powered by Geoffroy Blondel</p>
  </footer>

<script>
  function openNav() {
    document.getElementById("myNav").style.height = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.height = "0%";
  }

var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
      this.lastElementChild.innerHTML = "<i class=\"fas fa-plus\"></i>";
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
      this.lastElementChild.innerHTML = "<i class=\"fas fa-minus\"></i>";
    }
  });
}


</script>

</body>
{% endblock %}
